data/**/*.parquet
data/**/*.json
data/**/*.txt
data/*.parquet
data/orderbook_depth/*

reports/*
reports/example_run/*

*.parquet


__pycache__/
*.pyc
.DS_Store
reports/.DS_Store
strategies/.DS_Store


old/
tmp_*
reports/dashboard_*
reports/*.png
prompt_papertrading.txt
logs/*
reports/example_run/oos_wf.json
reports/example_run/oos_wf.json
reports/example_run/ins_mc.json


strategies_to_check.md


live_trading/DEBUG_INFO.md

live_trading/config.json
live_trading/TRADING_ISSUES_DIAGNOSIS.md
live_trading/FIXES_APPLIED.md