data/**/*.parquet
data/**/*.json
data/**/*.txt
data/*.parquet

__pycache__/
*.pyc
.DS_Store
reports/.DS_Store
strategies/.DS_Store



old/
tmp_*
reports/dashboard_*
reports/*.png
prompt_papertrading.txt
logs/*